Pods*
Podfile.lock
SignYourselfMobile.xcodeproj/xcuserdata/brockhardman.xcuserdatad/xcdebugger/*
SignYourselfMobile.xcworkspace/xcuserdata/*
SignYourselfMobile.xcworkspace/xcuserdata/brockhardman.xcuserdatad/UserInterfaceState.xcuserstate
